<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Screenshot based testing framework for Android platform
  ~ Copyright 2013 by Tomsksoft, http://tomsksoft.com. All rights reserved.
  ~
  ~ This software is licensed under
  ~ a Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License
  ~ http://creativecommons.org/licenses/by-nc-sa/3.0/
  ~
  ~ AndroidManifest.xml
  ~
  ~ Created by lia on 18.02.13 15:35
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tomsksoft.demoapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <instrumentation  android:name="android.test.InstrumentationTestRunner"
                      android:targetPackage="com.tomsksoft.demoapp"/>

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="8" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.ContactsListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.tomsksoft.demoapp.activity.ContactViewActivity"/>
        <provider android:authorities="com.tomsksoft.demoapp.dbprovider" android:name="com.tomsksoft.demoapp.storage.ContactsContentProvider"/>

        <uses-library android:name="android.test.runner"/>

    </application>

</manifest>